obj
bin
.db

API/bin/Debug/net8.0/API.deps.json
API/bin/Debug/net8.0/API.dll
API/bin/Debug/net8.0/API.exe
API/bin/Debug/net8.0/API.pdb
API/obj/API.csproj.nuget.dgspec.json
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net8.0/API.AssemblyInfo.cs
API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net8.0/API.assets.cache
API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net8.0/API.dll
API/obj/Debug/net8.0/API.pdb
API/obj/Debug/net8.0/apphost.exe
API/obj/Debug/net8.0/ref/API.dll
API/obj/Debug/net8.0/refint/API.dll
API/obj/Debug/net8.0/API.AssemblyInfo.cs
API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net8.0/API.dll
API/obj/Debug/net8.0/API.pdb
API/obj/Debug/net8.0/apphost.exe
API/obj/Debug/net8.0/ref/API.dll
API/obj/Debug/net8.0/refint/API.dll
API/bin/Debug/net8.0/API.dll
API/bin/Debug/net8.0/API.exe
API/bin/Debug/net8.0/API.pdb
node_modules
API/obj/Debug/net8.0/API.AssemblyInfo.cs
API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net8.0/API.dll
API/obj/Debug/net8.0/API.pdb
API/obj/Debug/net8.0/apphost.exe
API/obj/Debug/net8.0/ref/API.dll
API/obj/Debug/net8.0/refint/API.dll
API/bin/Debug/net8.0/API.dll
API/bin/Debug/net8.0/API.exe
API/bin/Debug/net8.0/API.pdb
API/obj/Debug/net8.0/API.AssemblyInfo.cs
API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net8.0/API.dll
API/obj/Debug/net8.0/API.pdb
API/obj/Debug/net8.0/apphost.exe
API/obj/Debug/net8.0/ref/API.dll
API/obj/Debug/net8.0/refint/API.dll
/.vs/SportsECommerce/FileContentIndex
/API/identity.db
