<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" *ngFor="let step of steps.toArray(); let i = index">
             <button  
             (click)="setStep(i)"
             [class.active]="selectedIndex === i"
             class="nav-link py-3 text-uppercase font-weight-bold btn-block"
             >
                {{  step.label }}
             </button>
        </li>
    </ul>
    <div class="step-content">
      <ng-container *ngTemplateOutlet="currentStepTemplate"></ng-container>
  </div>
  