<div class="container">
<div *ngIf="(basket$ | async) === null">
    <p>There is no items in ur basket</p>
</div>

<div *ngIf="(basket$ | async) as basket">
    <ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <app-basket-summary
                  (decrement)="decrementItem($event)"
                  (increment)="incrementItem($event)"
                  (remove)="removeBasketItem($event)"
                  [items]="basket.items"
              ></app-basket-summary>
                </div>
            </div>
            <div class="row">
              <div class="col-6 offset-6">
                <app-order-totals></app-order-totals>
                <div class="row">
                  <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                    Proceed to Checkout</a>
                </div>

              </div>
            </div>
        </div>      
    </ul>
</div>
</div>