<div class="container">
<div *ngIf="(basket$ | async) === null">
    <p>There is no items in ur basket</p>
</div>

<div *ngIf="(basket$ | async) as basket">
    <ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-responsive">
                        <thead>
                          <tr>
                            <th scope="col" class="text-uppercase">Product</th>
                            <th scope="col" class="text-uppercase">Price</th>
                            <th scope="col" class="text-uppercase">Quantity</th>
                            <th scope="col" class="text-uppercase">Total</th>
                            <th scope="col" class="text-uppercase">Remove</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (item of basket.items; track item) {  
                          <tr>
                            <th scope="row">
                            <div class="p-2">
                             <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid" style="max-height: 50px;">
                             <div class="ms-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a class='text-dark' routerLink="/shop/{{item.id}}">{{item.productName}}</a>
                                </h5>
                                <span class="text-muted font-italic">Type: {{item.type}}</span>
                             </div>

                            </div>
                          </th>
                            <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                            <td class="align-middle"> 
                            <div class="d-flex align-items-center" >
                                <i  (click)="decrementItem(item)" class="fa fa-minus-circle text-warning mr-2"
                                    style="cursor: pointer; font-size: 1.5em;"></i>
                                <span class="font-weight-bold" style="font-size: 1.5em;">
                                  <strong> {{item.quantity}}</strong> 
                                </span>
                                <i (click)="incrementItem(item)" class="fa fa-plus-circle text-warning mx-2"
                                    style="cursor: pointer; font-size: 1.5em;"></i>
                            </div></td>
                            <td class="align-middle"><strong>{{(item.price * item.quantity)| currency}}</strong></td>
                            <td class="align-middle  ">
                            <a (click)="removeBasketItem(item)" class="text-danger ">
                                <i class="fa fa-trash" style="font-size:2em; cursor: pointer;"></i>
                            </a></td>
                          </tr>
                        }
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row">
              <div class="col-6 offset-6">
                <app-order-totals></app-order-totals>
                <div class="row">
                  <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                    Proceed to Checkout</a>
                </div>

              </div>
            </div>
        </div>      
    </ul>
</div>
</div>