<div class="container">
    
    <div class="row">

        <section class="col-3">
            <h5 class="text-warning ml-3"> Sort</h5>
            <select (change)="onSelectdSortOptions($event.target)" class="form-select mb-3" aria-label="Default select example">
               @for(item of sortOptions; track item.name)
               {
                <option [value]="item.value" >{{item.name}}</option>
               }

              </select>
            <h5 class="text-warning ml-3"> Brands</h5>
            <ul class="list-group my-3">
                @for(item of brands;track item.name)
                {
                <li class="list-group-item" 
                [class.active]="item.id === shopParams.brandId"
                [value]="item.id"
                (click)="onSelectBranad(item.id)"
                >{{item.name}}</li>
                }
              </ul>

            <h5 class="text-warning ml-3"> Type</h5>
            <ul class="list-group my-3">
                @for(item of types;track item.name)
                {
                <li class="list-group-item"
                [class.active]="item.id === shopParams.typeId"
                [value]="item.id"
                (click)="onSelectType(item.id)"
                >{{item.name}}</li>
                }
              </ul>
        </section>

        <section class="col-9">

            <header>
                <div class="d-flex justify-content-between">
                    <app-paging-header [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber" [pageSize]="shopParams.pageSize"></app-paging-header>
                 <div class="d-flex justify-content-end">
                        <form class="d-flex" mr-2 role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                        <button class="btn btn-outline-success" type="reset">Reset</button>
                    
                    </form>
                    </div>
                </div>
                
            </header>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                 
                @for (item of products; track item.name) {
                <div class="col">
                    <app-product-item [product]="item"></app-product-item>
                </div>
                }
              </div>
        </section>

    </div>
    @if(this.totalCount > 0)
    {
    <div class=" d-flex justify-content-center my-3">
        <pagination     
        [totalItems]="this.totalCount"
        [itemsPerPage]="this.shopParams.pageSize"
        (pageChanged)="onPageChanged($event)"></pagination>
    </div>
    }
</div>
