.cart-no{
    color: white;
    background: blue ;
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    text-align: center;
    top: -12px;
    right: 20px;

}

a{
    color: navy;
    &link-secondary{
        color: orange;
    }
}

.logo{
cursor: pointer;
&:focus
{
    outline:none;
}
}