  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">

      <img src="/assets/images/logo.png" class="logo" style="max-height: 70px;" alt="logo" [routerLink]="['']" />

    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['']" routerLinkActive="link-secondary"  [routerLinkActiveOptions]="{exact: true}" class="nav-link px-2">Home</a></li>
      <li><a [routerLink]="'/shop'" routerLinkActive="link-secondary" class="nav-link px-2">Shop</a></li>
      <li><a [routerLink]="'/test-errors'" routerLinkActive="link-secondary" class="nav-link px-2">Errors</a></li>
    </ul>

    <div class="d-flex align-items-center">
      <a routerLink='/basket' class="position-relative">
        <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
        <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
      </a>
  
    <ng-container *ngIf="(currentUser$ | async) === null ">
      <div>
          <a  [routerLink]="'/login'" class="btn btn-outline-primary me-2">Login</a>
          <a  [routerLink]="'/register'" class="btn btn-primary">Sign-up</a>
     </div>
    </ng-container> 
   
    <ng-container *ngIf="(currentUser$ | async) as currentUser">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-outline-primary"><strong>Welcome {{currentUser.displayName}}</strong></button>
        <button id="button-split" type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                aria-controls="dropdown-split">
          <span class="caret"></span>
          <span class="sr-only visually-hidden">Split button!</span>
        </button>
        <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-split">
          <li role="menuitem"> <a [routerLink]="'/basket'" class="position-relative" style="cursor: pointer!important;"> 
            <i class="fa fa-shopping-cart fa-x "></i> View Basket
          </a>        
        </li>
          <li role="menuitem"><a class="dropdown-item" href="#">View Orders</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a  (click)="logout()"class="dropdown-item" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </ng-container>
    </div>

  </header>

  