  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">

      <img src="/assets/images/logo.png" class="logo" style="max-height: 70px;" alt="logo" [routerLink]="['/home']" />

    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['/home']" routerLinkActive="link-secondary"  [routerLinkActiveOptions]="{exact: true}" class="nav-link px-2">Home</a></li>
      <li><a [routerLink]="'/shop'" routerLinkActive="link-secondary" class="nav-link px-2">Shop</a></li>
      <li><a href="#" routerLinkActive="link-secondary" class="nav-link px-2">Contact</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a class="position-relative"> 
        <i class="fa fa-shopping-cart fa-2x me-5 "></i>
       <div class="cart-no">5</div>
      </a>
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>