.cart-no{
    color: white;
    background: blue ;
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    text-align: center;
    top: -12px;
    right: 32px;

}